<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">YelpCamp</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail" id="padd">
        <img class="img-responsive" src="<%= fcamp.image %>">
        <div class="caption-full">
          <h4 class="pull-right">$<%= fcamp.price %>/night</h4>
          <h4><a href="#"><%= fcamp.name %></a></h4>
          <p><%= fcamp.description %></p>
          <p><em>Submitted by <%= fcamp.author.username %></em></p>
          <% if(current && fcamp.author.id.equals(current._id)){%>
            <a href="/camp/<%= fcamp._id %>/edit" class="btn btn-warning">Edit This CampGround</a>
            <form id="inlineD" action="/camp/<%= fcamp._id %>?_method=DELETE" method="post">
              <button class="btn btn-danger">Delete Camp</button>
            </form>
          <%}%>
        </div>
      </div>
      <div class="well">
        <div class="text-right">
          <a href="/camp/<%= fcamp._id %>/comments/new" class="btn btn-success">Add a Comment</a>
        </div>
        <hr>
        <% for (var i = 0; i < fcamp.comments.length; i++) { %>
             <div class="row">
                <div class="class-md-12">
                  <b><%= fcamp.comments[i].author.username %></b>
                  <span class="pull-right">10 Days ago</span>
                  <p>
                    <%= fcamp.comments[i].text %>
                  </p>
                  <% if(current && fcamp.comments[i].author.id.equals(current._id)){%>
                    <a class="btn btn-xs btn-warning" href="/camp/<%=fcamp._id%>/comments/<%=fcamp.comments[i]._id%>/edit">Edit</a>
                    <form id="inlineD" action="/camp/<%=fcamp._id%>/comments/<%=fcamp.comments[i]._id%>?_method=DELETE" method="POST">
                      <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
                  <%}%>
                </div>
             </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>
